.header{
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.left-section{
    display: flex;
    align-items: center;
}

.menu-hamburger{
    height: 25px;
    margin-left: 21px;
    margin-right: 19px;
}

.youtube-logo{
    height: 22px;
}

.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    width: 50px;
    border-radius: 18px 0px 0px 18px;
    border-width: 1px;
    border-color: rgb(146, 146, 146);
    box-shadow:inset 1px 2px 3px rgba(170, 170, 170, 0.25);
    font-size: 17px;
}

.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 75px;
    margin-right: 6px;
    margin-left: -1px;
    border-radius: 0px 20px 20px 0px;
    border-width: 1px;
}

.search-icon{
    width: 24px;
}

.voice-search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    border: none;
    background-color: rgb(230, 230, 230);
}

.voice-search-icon{
    width: 25px;
}

.right-section{
    background-color: lightblue;
    width: 230px;
    flex-shrink: 0;
}